<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
</head>
<body>
    <h1>Welcome to My Blog</h1>
    
    {{#if user}}
        <p>Welcome, {{user.username}}!</p>
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}

    {{#each posts}}
        <div class="post">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
            <!-- Comments section goes here -->
        </div>
    {{/each}}
</body>
</html>
